<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Short Url</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md">
        <form action="<%= action %>" method="post">
          <% if (fields.length) { %>
          <% fields.forEach(function(field){ %>
          <div class="form-group">
            <label for="exampleInputEmail1"><%= field.name %></label>
            <input type="url" name="<%= field.name %>" class="form-control" id="url" aria-describedby="urlHelp">
            <small id="urlHelp" class="form-text text-muted">Вставите юрл для щастЯ</small>
          </div>
          <% }) %>
          <% } %>

          <button type="submit" class="btn btn-primary">Згенерувати</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <ul class="list-group">
          <% if (urls.length) { %>
          <% urls.forEach(function(item){ %>
          <li class="list-group-item"><%= item.url %> :   <%= item.mainUrl %></li>
          <% }) %>
          <% } %>
        </ul>
      </div>
    </div>
  </div>

</body>

</html>